#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  display: flex;

}

.App {
  display: flex;
  justify-content: space-between;
  padding: 35px;
}